.article .data {
    text-align: left;
}

h2 a {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 44px;
    float: right;
    margin: 0;
}

code {
    line-height: 1.75 !important;
}
